
body {
	margin: 0;
	padding: 8 px;
	font-family: "Open Sans", sans-serif;
	background-color: white;
	width: 100%;
}

text {
		font-size: 12px;
	}

.header {
	font-family: "Open Sans", sans-serif;
	font-size: 24px;
	font-weight: 300;
	padding: 16px;
}

.nav-element-right {
	font-family: "Open Sans", sans-serif;
	font-size: 24px;
	font-weight: 300;
	padding: 16px;
	position: absolute;
	right: 0;
	top: 0;
	/* min-width: 750 px; */
}

.footer-container {	
	font-family: "Open Sans", sans-serif;
	padding: 16px;
	background-color: black;
	color:white;
	position: relative;
	/*width: 100%;*/
}

.nav-bar-container {
	background-color: black;
	color: white;
	min-width: 750px;
	position: relative;
	width: 100%;
}

.main-content {
	display: flex;
	width: 100%;
}

.main-content svg {
	margin: 0 auto;
}

.bottom-link-format {
	text-decoration: underline;
	color: white;
}

.footer-element-right {
	font-family: "Open Sans", sans-serif;
	position: absolute;
	right: 0;
	top: 0;
	
	
	/* min-width: 750 px; */
}

.footer-element-right label {
	margin-right: 18px;
	padding: 16px;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

.about-icons {
  /* display: inline-block; */
  height: 40px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

}

.about-icons div {
  /* display: inline-block; */
  padding: 10px;
}